.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.nav-logo-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  display: block;
  height: 80px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #202340;
}

.nav-menu-wrap {
  display: block;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-weight: 500;
}

.section {
  position: static;
  bottom: 0px;
  display: block;
  width: auto;
  height: 100%;
  max-width: 100%;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #202340;
}

.section.center {
  position: static;
  left: auto;
  top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff;
  color: #202340;
  font-weight: 500;
}

.section.center.dark {
  background-image: -webkit-gradient(linear, left top, right top, from(#321c64), to(#20123a));
  background-image: linear-gradient(90deg, #321c64, #20123a);
  color: #fff;
}

.section.testimonials {
  background-image: url('../images/Blob5.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: none;
  min-height: 100vh;
  margin: 80px 0px 0vh;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Blob9.svg');
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section.one-off {
  background-image: url('../images/Blob7.svg');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section.form {
  min-height: 100vh;
  padding-top: 60px;
}

.section.vh-80 {
  min-height: 80vh;
}

.section.vh-80.middle {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.section.hero-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: none;
  min-height: 800px;
  margin: 0px 0px 0vh;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Blob9.svg');
  background-position: 100% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hero-content {
  position: relative;
  z-index: 90;
  width: 100%;
  max-width: none;
  min-width: 0px;
  margin-top: 0px;
  margin-right: 0vw;
  margin-bottom: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading-2 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #202340;
  font-size: 32px;
  line-height: 35px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.heading-2.center {
  text-align: center;
}

.heading-2.hero {
  line-height: 25px;
}

.hero-subhead {
  max-width: 100%;
  margin-top: 10px;
  font-family: Inter, sans-serif;
  color: #202340;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 300;
}

.hero-image-desktop {
  position: relative;
  right: auto;
  bottom: auto;
  display: block;
  height: auto;
  min-height: 450px;
  margin-top: 0px;
  margin-bottom: auto;
  padding-left: 0px;
  float: none;
  clear: none;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.brand {
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.nav-link {
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 0px none #000;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #202340;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 0px none #202340;
  box-shadow: inset 0 -4px 0 0 #202340;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  color: #202340;
}

.nav-link.w--current {
  border-style: none;
  border-width: 0px 0px 4px;
  border-color: #202340;
  border-radius: 0px;
  box-shadow: inset 0 -4px 0 0 #202340;
  color: #202340;
}

.nav-link.w--current:hover {
  border-style: none;
  border-width: 0px;
  border-color: #202340;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none hsla(0, 0%, 100%, 0.1);
}

.body {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.button {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-width: 2px;
  border-color: #ba00df;
  border-radius: 4px;
  background-color: #0060df;
  -webkit-transition: box-shadow 600ms ease;
  transition: box-shadow 600ms ease;
  color: #fff;
  font-size: 1em;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  border-color: #0250bb;
  background-color: #0060df;
  box-shadow: inset 120px 0 0 0 #0250bb;
}

.button.navbar-btn {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.button.navbar-btn:hover {
  box-shadow: inset 120px 0 0 0 #0250bb;
}

.button.btn-xl:hover {
  box-shadow: inset 260px 0 0 0 #0250bb;
}

.button.full-w {
  display: inline-block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  text-align: center;
}

.button.full-w:hover {
  box-shadow: inset 340px 0 0 0 #0250bb;
}

.heading-3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #202340;
  line-height: 35px;
}

.container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin-bottom: 0px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container.center-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.center-h2 {
  max-width: 650px;
  min-width: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #202340;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
}

.center-h2.left {
  width: 384px;
}

.center-h2.white {
  color: #fff;
}

.center-h2.quote {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.center-h2.m-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-image-mask {
  display: block;
  width: 100%;
  margin-left: 0px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.hero-image-mask.mobile {
  display: none;
}

.hero-image-2 {
  width: 100%;
  height: 100%;
  float: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph {
  max-width: 650px;
  font-family: Inter, sans-serif;
  color: #202340;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
}

.paragraph.center {
  text-align: center;
}

.feature-box {
  width: 500px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #202340;
}

.spacer-50 {
  width: 100%;
  height: 50px;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-row.no-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.spacer-100 {
  width: 100%;
  height: 100px;
}

.shape {
  width: 50px;
  height: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #ff2a8a;
}

.grid {
  justify-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.feature-square {
  text-align: center;
}

.user-testimonial {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

.testimonial-row {
  padding-bottom: 50px;
  justify-items: center;
  grid-column-gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.home-text {
  max-width: 600px;
  min-width: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.home-text.big {
  max-width: 992px;
  font-size: 35px;
  line-height: 1.5em;
  text-align: center;
}

.pricing-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.plan-features {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 0px none rgba(0, 0, 0, 0.3);
  text-align: center;
  list-style-type: none;
}

.txt-item {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
  line-height: 3em;
  font-weight: 300;
}

.txt-item.last {
  border-bottom-style: none;
  line-height: 2em;
}

.testimonal-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  padding: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: hsla(0, 0%, 99.6%, 0.85);
  box-shadow: 0 16px 48px 0 rgba(90, 88, 117, 0.2);
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.plan-amount-block {
  position: static;
  display: block;
  margin-bottom: 10px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 52px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.dollar-sign {
  position: relative;
  left: 0px;
  top: -20px;
  display: inline;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

.plan-duration {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.plan-name {
  color: #0060df;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.pricing-accent {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 6px;
  border-radius: 50px;
  background-color: #0060df;
}

.spacer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #202340;
  line-height: 2em;
  font-weight: 300;
  text-align: center;
}

.plan-saving {
  position: static;
  display: block;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #0060df;
  font-size: 12px;
  line-height: 2em;
  font-weight: 300;
  text-align: center;
}

.pricing-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 580px;
  margin-right: 20px;
  margin-left: auto;
  padding: 40px 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 11px 11px 48px 0 rgba(90, 88, 116, 0.2);
  opacity: 1;
  font-size: 13px;
  line-height: 2em;
}

.pricing-column.premium {
  width: 384px;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.pricing-subheading {
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.text-block-4 {
  line-height: 1em;
}

.italic-text {
  font-weight: 300;
}

.column-3 {
  clear: none;
}

.faq-wrapper {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 11px 11px 48px 0 rgba(90, 88, 116, 0.2);
  line-height: 2em;
}

.faq-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
}

.faq-heading {
  margin-right: 10px;
  line-height: 2em;
}

.icon {
  min-height: 100%;
}

.faq-icon-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 16px;
  min-width: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  cursor: pointer;
}

.faq-icon {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #ff2a8a;
}

.faq-icon-1 {
  position: absolute;
  width: 4px;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #ff2a8a;
}

.faq-answer {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  max-width: 600px;
  margin-top: 10px;
  padding-bottom: 0px;
}

.faq-answer-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
}

.footer-section {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #20123a;
  color: #fff;
}

.faq-container {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.footer-logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-row {
  width: 100%;
  max-width: 1170px;
  margin-bottom: 25px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 12px;
  line-height: 2em;
  font-weight: 300;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 0px;
  margin-left: 25px;
  cursor: pointer;
}

.footer-copyright {
  color: hsla(0, 0%, 100%, 0.8);
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
  line-height: 2em;
  text-align: left;
}

.footer-link {
  color: hsla(0, 0%, 100%, 0.8);
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #fff;
}

.footer-link:active {
  color: hsla(0, 0%, 100%, 0.8);
}

.footer-link.left {
  margin-left: 20px;
  color: hsla(0, 0%, 100%, 0.8);
}

.footer-link.left:hover {
  color: #fff;
}

.footer-links {
  text-align: right;
}

.hero-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-image-container {
  display: none;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-nav {
  position: fixed;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(26, 39, 81, 0.05);
  color: #202340;
}

.map-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
  max-width: 1200px;
  min-height: 0px;
  min-width: 900px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.link {
  color: #0060df;
}

.link:hover {
  color: #0060df;
}

.link:visited {
  color: #0060df;
}

.link.accent {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #ff2a8a;
  font-weight: 700;
  text-decoration: none;
}

.link.accent:hover {
  text-decoration: underline;
}

.center-h3 {
  margin-top: 20px;
  color: #202340;
  line-height: 35px;
  text-align: center;
}

.center-h3.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.25em;
  line-height: 1.25em;
}

.hero-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #ff2a8a;
  cursor: pointer;
}

.hero-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.lottie-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lottie-icon.hero {
  max-width: 100px;
}

.hero-column {
  display: block;
  padding: 30px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.image {
  display: block;
  max-width: 992px;
  min-height: 560px;
}

.image.wide {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.image.wide.mobile {
  display: none;
}

.map-pin {
  position: absolute;
  left: 95px;
  top: 180px;
  width: 35px;
  height: 50px;
  background-image: url('../images/pointer.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.map-pin.mexico {
  left: 90px;
  top: 190px;
  background-image: url('../images/pointer.svg');
  background-position: 50% 50%;
  background-size: contain;
}

.map-pin.latam {
  left: 210px;
  top: 350px;
}

.map-pin.north-america {
  left: 100px;
  top: 120px;
}

.map-pin.europe {
  left: 410px;
  top: 110px;
}

.map-pin.south-africa {
  left: 480px;
  top: 370px;
}

.map-pin.china {
  left: 725px;
  top: 155px;
}

.map-pin.indonesia {
  left: 800px;
  top: 275px;
}

.map-pin.india {
  left: 645px;
  top: 215px;
}

.heading-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.map-pin-tooltip {
  position: absolute;
  left: -56px;
  top: 0px;
  right: -56px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
}

.map-pin-tooltip.big {
  margin-top: -65px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  min-height: auto;
  padding: 60px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.13);
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.card.form {
  display: block;
}

.columns-2 {
  background-image: url('../images/DoogieDoodle.svg');
  background-position: 0% 50%;
  background-size: 550px;
  background-repeat: no-repeat;
}

.error {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
}

.success {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.success-container {
  border-style: solid;
  border-width: 1px;
  border-color: #12bc00;
  border-radius: 4px;
  background-color: transparent;
}

.select-field {
  background-color: #fff;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-wrap {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.field-label {
  position: absolute;
  left: 0%;
  top: 10%;
  right: auto;
  bottom: auto;
  z-index: 10;
  display: inline-block;
  width: auto;
  max-width: none;
  margin-top: -9px;
  margin-left: 10px;
  padding: 1px 10px;
  background-color: #fff;
  font-weight: 500;
  -o-object-fit: fill;
  object-fit: fill;
}

.field-label.area {
  top: 6%;
}

.input {
  position: relative;
  height: 50px;
  padding-top: 11px;
  -webkit-transition: border 400ms ease;
  transition: border 400ms ease;
}

.input:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #0060df;
}

.input.area {
  padding-top: 11px;
  padding-bottom: 40px;
}

.form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/DoogieDoodle.svg');
  background-position: 10% 50%;
  background-size: 550px;
  background-repeat: no-repeat;
}

.form-wrapper.bg2 {
  background-image: url('../images/CoffeeDoddle.svg');
  background-position: 10% 50%;
  background-size: 550px;
  background-repeat: no-repeat;
}

.center-h2-2 {
  max-width: 600px;
  min-width: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #202340;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
}

.paragraph-2 {
  font-family: Inter, sans-serif;
  color: #202340;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
}

.success-image {
  display: block;
  max-width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.subtitle.center {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.subtitle.center.mb-20 {
  margin-bottom: 20px;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.legal {
  padding-top: 20px;
  padding-bottom: 20px;
}

.date {
  color: rgba(0, 0, 0, 0.5);
}

.bold-text {
  font-size: 1em;
}

.heading-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #202340;
  line-height: 35px;
  text-align: center;
}

.cards-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading-9 {
  margin-bottom: 33px;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  margin-bottom: 43px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.section-3 {
  display: block;
  width: auto;
  height: 100%;
  max-width: 100%;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #202340;
}

.section-3.testimonials {
  background-image: url('../images/Blob5.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-3.center {
  position: static;
  left: auto;
  top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff;
  color: #202340;
  font-weight: 500;
}

.section-3.center.dark {
  background-image: -webkit-gradient(linear, left top, right top, from(#321c64), to(#20123a));
  background-image: linear-gradient(90deg, #321c64, #20123a);
  color: #fff;
}

.center-h2-3 {
  max-width: 700px;
  min-width: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #202340;
  font-size: 32px;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
}

.center-h2-3.left {
  width: 384px;
  font-weight: 300;
}

.center-h2-3.white {
  color: #fff;
}

.txt-item-2 {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
  line-height: 2em;
  font-weight: 300;
}

.txt-item-2.last {
  border-bottom-style: none;
  line-height: 2em;
}

.faq-icon-2 {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #ff2a8a;
}

.faq-heading-2 {
  margin-right: 10px;
  font-size: 18px;
  line-height: 2em;
}

.faq-icon-3 {
  position: absolute;
  width: 4px;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #ff2a8a;
}

.italic-text-2 {
  font-style: normal;
}

@media screen and (max-width: 991px) {
  .menu-icon {
    color: #202340;
    font-size: 40px;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .nav {
    width: 100vw;
  }
  .nav-menu-wrap {
    background-color: #fff;
  }
  .section.center {
    display: none;
    height: auto;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section.center.dark {
    display: block;
  }
  .section.one-off {
    background-image: url('../images/Blob6.svg');
    background-position: 100% 50%;
    background-size: 350px;
    background-repeat: no-repeat;
  }
  .section.form {
    min-height: 80vh;
    background-image: none;
  }
  .hero-content {
    max-width: none;
    margin-right: 0vw;
    padding-right: 0vw;
    padding-left: 0vw;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .heading-2 {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
  }
  .hero-subhead {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
  }
  .hero-image-desktop {
    position: relative;
    left: 0vw;
    top: auto;
    right: 0vw;
    bottom: 0px;
    display: block;
    overflow: visible;
    width: 100%;
    height: auto;
    max-width: 450px;
    margin-right: auto;
    margin-bottom: 7vw;
    margin-left: auto;
  }
  .nav-menu {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    min-height: 100vh;
    min-width: 0px;
    padding-top: 20px;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: #fff;
  }
  .brand {
    padding-left: 0px;
  }
  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
  }
  .nav-link:hover {
    box-shadow: none;
  }
  .nav-container {
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .button.navbar-btn {
    display: block;
    width: 200px;
    margin-left: 0px;
  }
  .button.navbar-btn:hover {
    box-shadow: inset 200px 0 0 0 #0250bb;
  }
  .button.btn-xl {
    text-align: left;
  }
  .button.btn-xl:hover {
    box-shadow: inset 260px 0 0 0 #0250bb;
  }
  .button.full-w:hover {
    box-shadow: inset 600px 0 0 0 #0250bb;
  }
  .heading-3 {
    display: block;
  }
  .container {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .container.center {
    max-width: none;
  }
  .container.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
    background-image: url('../images/Blob6.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .feature-box {
    width: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .flex-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .testimonial-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .home-text {
    min-width: 0px;
  }
  .pricing-row {
    width: 100%;
    min-width: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .testimonal-box {
    min-height: 0px;
  }
  .pricing-column {
    width: 100%;
    max-width: 650px;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-icon {
    padding-left: 0px;
  }
  .hero-row {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero-image-container {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .home-nav {
    width: 100vw;
  }
  .map-container {
    max-width: 0px;
    min-width: 758px;
  }
  .center-h3 {
    display: block;
  }
  .center-h3.hero {
    font-size: 1em;
    line-height: 1.5em;
  }
  .hero-columns {
    display: none;
    min-width: 100%;
  }
  .image {
    max-width: 0px;
    min-height: 0px;
    min-width: 85%;
  }
  .map-pin.mexico {
    left: 110px;
    top: 200px;
  }
  .map-pin.latam {
    left: 190px;
    top: 300px;
  }
  .map-pin.north-america {
    left: 120px;
    top: 145px;
  }
  .map-pin.europe {
    left: 315px;
    top: 150px;
  }
  .map-pin.south-africa {
    left: 365px;
    top: 315px;
  }
  .map-pin.china {
    left: 525px;
    top: 180px;
  }
  .map-pin.indonesia {
    left: 570px;
    top: 265px;
  }
  .map-pin.india {
    left: 470px;
    top: 210px;
  }
  .card {
    padding-right: 20px;
    padding-left: 20px;
  }
  .card.form {
    display: block;
    padding: 10px 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form-wrapper {
    padding-left: 0%;
    background-image: none;
  }
  .form-wrapper.bg2 {
    padding-left: 0%;
    background-image: none;
  }
  .form-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading-5 {
    display: block;
  }
  .cards-grid-container {
    grid-column-gap: 20px;
  }
  .section-3.center {
    display: none;
    height: auto;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .menu-icon {
    color: #202340;
    font-size: 30px;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .nav-menu-wrap {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .section.center {
    padding-top: 0px;
    padding-bottom: 60px;
  }
  .section.center.dark {
    display: block;
  }
  .section.one-off {
    background-image: none;
  }
  .section.form {
    min-height: 80vh;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-content {
    margin-bottom: 5vh;
  }
  .heading-2 {
    font-size: 2.5em;
    line-height: 1.25em;
    text-align: center;
  }
  .hero-subhead {
    font-size: 1em;
    line-height: 1.5em;
  }
  .hero-image-desktop {
    margin-bottom: 10vw;
  }
  .nav-menu {
    overflow: auto;
    min-height: 100vh;
    min-width: 0px;
    padding-right: 5vw;
    padding-left: 5vw;
    background-color: #fff;
  }
  .brand {
    padding-left: 0px;
  }
  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-container {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .button.navbar-btn {
    display: block;
    width: 200px;
    max-width: 728px;
    margin-right: auto;
    margin-left: 0px;
    clear: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .button.navbar-btn:hover {
    box-shadow: inset 200px 0 0 0 #0250bb;
  }
  .button.btn-xl:hover {
    box-shadow: inset 260px 0 0 0 #0250bb;
  }
  .button.full-w:hover {
    box-shadow: inset 480px 0 0 0 #0250bb;
  }
  .container {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .container.center-text.bg {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .container.form {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .hero-image-mask.desktop {
    display: none;
  }
  .hero-image-mask.mobile {
    display: block;
  }
  .spacer-50 {
    display: none;
  }
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-row.no-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .testimonial-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .home-text {
    min-width: 0px;
  }
  .pricing-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .testimonal-box {
    min-height: 0px;
  }
  .pricing-column {
    width: auto;
    min-width: auto;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pricing-column.premium {
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .column-3 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-icon {
    padding-left: 0px;
  }
  .hero-row {
    min-height: 100vh;
  }
  .hero-image-container {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .column-6 {
    display: none;
  }
  .map-container {
    max-width: 767px;
    min-width: 480px;
  }
  .hero-columns {
    display: none;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .hero-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .image {
    min-width: 100%;
  }
  .image.wide {
    display: none;
  }
  .image.wide.mobile {
    display: block;
  }
  .map-pin.mexico {
    left: 60px;
    top: 160px;
  }
  .map-pin.latam {
    left: 95px;
    top: 290px;
  }
  .map-pin.north-america {
    left: 35px;
    top: 205px;
  }
  .map-pin.europe {
    left: 190px;
    top: 170px;
  }
  .map-pin.south-africa {
    left: 225px;
    top: 290px;
  }
  .map-pin.china {
    left: 340px;
    top: 185px;
  }
  .map-pin.indonesia {
    left: 380px;
    top: 255px;
  }
  .map-pin.india {
    left: 305px;
    top: 220px;
  }
  .card {
    padding-right: 20px;
    padding-left: 20px;
  }
  .cards-section {
    padding: 40px 20px;
  }
  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .section-3.center {
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 479px) {
  .menu-icon {
    color: #202340;
  }
  .section {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .section.center {
    margin-bottom: 10vw;
    padding: 0px;
    font-weight: 500;
  }
  .section.center.dark {
    display: block;
    margin-bottom: 0vw;
  }
  .section.testimonials {
    background-size: cover;
  }
  .section.hero {
    padding-top: 20px;
  }
  .section.bg {
    margin-top: 40px;
  }
  .section.form {
    display: block;
    min-height: 80vh;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section.hero-2 {
    padding-top: 20px;
  }
  .hero-content {
    width: 100%;
    margin: 0px auto auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading-2 {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
  }
  .hero-subhead {
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 1em;
    line-height: 20px;
  }
  .hero-image-desktop {
    display: block;
    width: 100%;
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0vw;
    padding-top: 0px;
  }
  .brand {
    padding-left: 0px;
  }
  .nav-container {
    width: 100vw;
    padding-right: 5%;
    padding-left: 5%;
  }
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: both;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 2em;
    text-align: center;
  }
  .button:hover {
    box-shadow: inset 295px 0 0 0 #0250bb;
  }
  .button.btn-xl:hover {
    box-shadow: inset 480px 0 0 0 #0250bb;
  }
  .button.full-w {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  .button.full-w:hover {
    box-shadow: inset 480px 0 0 0 #0250bb;
  }
  .heading-3 {
    margin-bottom: 20px;
    color: #202340;
    font-size: 1.25em;
    line-height: 25px;
    text-align: center;
  }
  .container {
    max-width: none;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .container.center-text.bg {
    background-image: none;
  }
  .container.center {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  .container.form {
    min-height: auto;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .center-h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .center-h2.left {
    width: auto;
    max-width: none;
  }
  .hero-image-mask {
    padding-top: 40px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .hero-image-mask.desktop {
    display: none;
  }
  .hero-image-mask.mobile {
    display: block;
  }
  .hero-image-2 {
    display: block;
  }
  .paragraph {
    text-align: center;
  }
  .feature-box {
    width: auto;
    margin-top: 20px;
  }
  .spacer-50 {
    display: none;
  }
  .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-row.no-reverse {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .spacer-100 {
    display: none;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .testimonial-row {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 19px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: left;
  }
  .home-text {
    min-width: 0px;
    font-size: 14px;
  }
  .home-text.big {
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 2em;
  }
  .pricing-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .plan-features {
    margin-bottom: 20px;
  }
  .testimonal-box {
    min-height: 0px;
  }
  .spacer {
    display: block;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 13px;
  }
  .plan-saving {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    direction: ltr;
    font-size: 13px;
    text-align: left;
    text-transform: none;
    white-space: normal;
  }
  .pricing-column {
    height: 570px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 13px;
  }
  .pricing-column.premium {
    width: auto;
  }
  .faq-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .faq-heading {
    line-height: 26px;
  }
  .footer-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .social-icon {
    padding-left: 0px;
  }
  .footer-copyright {
    margin-bottom: 20px;
  }
  .column-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer-link.left {
    margin-left: 0px;
  }
  .footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .hero-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hero-image-container {
    width: 100%;
    max-height: none;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .social-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .map-container {
    height: auto;
    max-width: 479px;
    min-width: 320px;
  }
  .center-h3 {
    margin-bottom: 20px;
    color: #202340;
    font-size: 1.25em;
    line-height: 25px;
    text-align: center;
  }
  .hero-columns {
    display: none;
    width: auto;
    max-width: none;
    min-width: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image.wide {
    display: none;
  }
  .image.wide.mobile {
    display: block;
  }
  .map-pin.mexico {
    left: 20px;
    top: 33px;
  }
  .map-pin.latam {
    left: 60px;
    top: 80px;
    display: block;
  }
  .map-pin.north-america {
    left: 52px;
    top: -2px;
    display: block;
  }
  .map-pin.europe {
    left: 122px;
    top: 5px;
  }
  .map-pin.south-africa {
    left: 143px;
    top: 87px;
    display: block;
  }
  .map-pin.china {
    left: 230px;
    top: 22px;
  }
  .map-pin.indonesia {
    left: 255px;
    top: 58px;
  }
  .map-pin.india {
    left: 198px;
    top: 37px;
  }
  .card {
    padding: 40px 10px;
  }
  .card.form {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .form-wrapper {
    margin-left: 0px;
    padding-left: 0px;
  }
  .center-h2-2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .paragraph-2 {
    text-align: left;
  }
  .heading-5 {
    margin-bottom: 20px;
    color: #202340;
    font-size: 1.25em;
    line-height: 25px;
    text-align: center;
  }
  .centered-container {
    text-align: left;
  }
  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section-3 {
    margin-bottom: 40px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .section-3.testimonials {
    background-size: cover;
  }
  .section-3.center {
    margin-bottom: 10vw;
    padding: 0px;
    font-weight: 500;
  }
  .section-3.center.dark {
    margin-bottom: 0vw;
  }
  .center-h2-3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .center-h2-3.left {
    width: auto;
    max-width: none;
  }
  .faq-heading-2 {
    line-height: 26px;
  }
}

#w-node-646fb2f3786d-f0596f76 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 0.9943181276321411;
  grid-column-end: span 0.9943181276321411;
  -ms-grid-column: span 0.9943181276321411;
  grid-column-start: span 0.9943181276321411;
  -ms-grid-row-span: 0.9943181276321411;
  grid-row-end: span 0.9943181276321411;
  -ms-grid-row: span 0.9943181276321411;
  grid-row-start: span 0.9943181276321411;
}

#w-node-35388aeb4b25-f0596f76 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 0.9943181276321411;
  grid-column-end: span 0.9943181276321411;
  -ms-grid-column: span 0.9943181276321411;
  grid-column-start: span 0.9943181276321411;
  -ms-grid-row-span: 0.9943181276321411;
  grid-row-end: span 0.9943181276321411;
  -ms-grid-row: span 0.9943181276321411;
  grid-row-start: span 0.9943181276321411;
}

#w-node-36a898a25521-f0596f76 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 0.9943181276321411;
  grid-column-end: span 0.9943181276321411;
  -ms-grid-column: span 0.9943181276321411;
  grid-column-start: span 0.9943181276321411;
  -ms-grid-row-span: 0.9943181276321411;
  grid-row-end: span 0.9943181276321411;
  -ms-grid-row: span 0.9943181276321411;
  grid-row-start: span 0.9943181276321411;
}

#w-node-5eaa41438a0a-f0596f76 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 0.9943181276321411;
  grid-column-end: span 0.9943181276321411;
  -ms-grid-column: span 0.9943181276321411;
  grid-column-start: span 0.9943181276321411;
  -ms-grid-row-span: 0.9943181276321411;
  grid-row-end: span 0.9943181276321411;
  -ms-grid-row: span 0.9943181276321411;
  grid-row-start: span 0.9943181276321411;
}

#w-node-d3a08d8ba88c-f0596f76 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 0.9943181276321411;
  grid-column-end: span 0.9943181276321411;
  -ms-grid-column: span 0.9943181276321411;
  grid-column-start: span 0.9943181276321411;
  -ms-grid-row-span: 0.9943181276321411;
  grid-row-end: span 0.9943181276321411;
  -ms-grid-row: span 0.9943181276321411;
  grid-row-start: span 0.9943181276321411;
}

#w-node-4b4d45521544-f0596f76 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-span: 0.9943181276321411;
  grid-column-end: span 0.9943181276321411;
  -ms-grid-column: span 0.9943181276321411;
  grid-column-start: span 0.9943181276321411;
  -ms-grid-row-span: 0.9943181276321411;
  grid-row-end: span 0.9943181276321411;
  -ms-grid-row: span 0.9943181276321411;
  grid-row-start: span 0.9943181276321411;
}

#w-node-77752c9e6020-f0596f76 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-fba7a90987b8-ec5b143b {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

@media screen and (max-width: 991px) {
  #w-node-35388aeb4b25-f0596f76 {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column-span: 0.9943181276321411;
    grid-column-end: span 0.9943181276321411;
    -ms-grid-column: span 0.9943181276321411;
    grid-column-start: span 0.9943181276321411;
    -ms-grid-row-span: 0.9943181276321411;
    grid-row-end: span 0.9943181276321411;
    -ms-grid-row: span 0.9943181276321411;
    grid-row-start: span 0.9943181276321411;
  }
}

@media screen and (max-width: 479px) {
  #w-node-89c5c0e2de84-ec5b143b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-89c5c0e2de8d-ec5b143b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-89c5c0e2de96-ec5b143b {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}